# Allow
!**/requirements.txt
!**/pyproject.toml
!**/setup.py


# Ignore
env
.env
.git

# Large files
**/*.nrrd
**/*.tsv
**/*.vtk

# Images
**/*.svg
**/*.jpg
**/*.jpeg
**/*.png

# Specific directories
src/modules/*/Test?
src/modules/**/Resources
src/ltrace/build
src/ltrace/ltrace/assets
tools/deploy/GeoSlicerManual
tools/deploy/Resources
gs*/* 