[submodule "src/submodules/pyedt"]
	path = src/submodules/pyedt
	url = git@github.com:ltracegeo/pyedt.git
[submodule "src/submodules/porespy"]
	path = src/submodules/porespy
	url = git@github.com:Arenhart/porespy.git
[submodule "src/submodules/pnflow"]
	path = src/submodules/pnflow
	url = ../pnflow.git
