[submodule "src/submodules/porespy"]
	path = src/submodules/porespy
	url = git@github.com:ltracegeo/porespy.git
[submodule "src/submodules/pnflow"]
	path = src/submodules/pnflow
	url = git@github.com:ltracegeo/pnflow.git
